@import '../../styles/variables.scss';


.gender-dist-per-field-chart {
  display: block;
  position: relative;
  width: 100%;

  .chart-container {
    height: $chartContainerHeight;
  }

  .download-csv-button {
    margin-left: 16px;
  }
}