@import '../../styles/variables.scss';


.country-distribution-chart {
  display: inline-block;
  position: relative;
  width: 100%;

  .chart-container {
    height: $chartContainerHeight;
  }

  .download-csv-button {
    margin-left: 16px;
  }
}